﻿@using OnlineRestaurantMVC.Data.ViewModels;

@model FoodBasketVM

@{
    ViewData["Title"] = "Food basket summary";
}

<div class="row">
    <div class="col-md-8 offset-2">
        <div class="text-center">
            <h2>Your food basket summary</h2>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th>Selected amount</th>
                    <th>Dish</th>
                    <th>Price</th>
                    <th>Subtotal</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.FoodBasket.FoodBasketItems)
                {
                    <tr>
                        <td class="align-middle">@item.Amount</td>
                        <td class="align-middle">@item.Dish.Name</td>
                        <td class="align-middle">@item.Dish.Price.ToString("c")</td>
                        <td class="align-middle">@((item.Amount * item.Dish.Price).ToString("c"))</td>
                        <td class="align-middle">
                            <a class="text-danger" asp-controller="Orders" asp-action="RemoveItemFromFoodBasket"
                               asp-route-id="@item.Dish.Id">
                                <i class="bi bi-cart-dash"></i>
                            </a>
                            |
                            <a class="text-success" asp-controller="Orders" asp-action="AddItemToFoodBasket"
                               asp-route-id="@item.Dish.Id">
                                <i class="bi bi-cart-plus"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2"></td>
                    <td><b>Total:</b></td>
                    <td>
                        @Model.FoodBasketTotal.ToString("c")
                    </td>
                    <td></td>
                </tr>
            </tfoot>
        </table>

        <div class="text-right">
            <div class="btn-group">
                <a class="btn btn-outline-primary" asp-action="CompleteOrder">
                Complete order
                </a>
                <div id="paypal-btn"></div>
                <span style="padding:5px"></span>
                <a class="btn btn-outline-success" asp-controller="Dishes" asp-action="Index">
                    Add more items
                </a>
            </div>
        </div>

    </div>
</div>

@section Scripts {

    <script src="https://www.paypalobjects.com/api/checkout.js"></script>

    <script>

        let _total = @Html.Raw(Model.FoodBasketTotal);

    </script>
}